*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ddd;
}

.tabContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab{
  width: 33.3%;
  height: 60px;
  font-size: 40px;
  text-align: center;
  /* border: 1px solid greenyellow; */
  border: 1px solid #00bfff;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  font-weight: 600;
}

.active {
  background-color: #1e90ff;
  color: #fff;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .tabContainer {
    flex-direction: column;
  }
  .tab{
    width: 100%;
  }
}